<h1>Listing patents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Priorityyear</th>
    <th>Applicant</th>
    <th>Figure</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @patents.each do |patent| %>
  <tr>
    <td><%= patent.title %></td>
    <td><%= patent.priorityYear %></td>
    <td><%= patent.applicant %></td>
    <td><%= patent.figure %></td>
    <td><%= patent.link %></td>
    <td><%= link_to 'Show', patent %></td>
    <td><%= link_to 'Edit', edit_patent_path(patent) %></td>
    <td><%= link_to 'Destroy', patent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patent', new_patent_path %>
